@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Tiny5&display=swap");
@import "tailwindcss";

@theme {
    --font-tiny: "Tiny5", sans-serif;
    --font-afacad: "Afacad", sans-serif;
    --color-primary: #153151;
    --color-primary-hover: #1a3b6c;
}
html {
    scroll-behavior: smooth;
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
}
