.Card{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

}

.Cat{
    position: relative;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    background-color: white;
}
.Cat img {
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.Cat p {
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black; /* Border thickness and color */
    position: absolute;
}

.Description{
    overflow-y: scroll;
    padding: 10px;
    width: 80%;
    height: 25%;
    border-radius: 20px;
    background-color: white;
}